header {
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: all 1s ease;
}

body {
    font-family: sans-serif;
}

footer {
    position: fixed;
    background: rgba(255, 255, 255, .9);
    bottom: 0px;
    right: 0px;
    padding: 10px;
    border-top-left-radius: 7px;
}

main {
    padding-top: 35px;
     transition: all 1s ease;
}

#map {

}

#mapPic {
    width: 100%;
    z-index: 1;
}
html {
    
}

div {
     transition: all 1s ease;
}

#select {
    position: absolute;
    top: 100px;
    left: 100px;
}

#errorPic {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(error.png);
    background-repeat: no-repeat;
    background-size: cover;
}
